In [144]:
import pandas as pd

In [153]:
# url link to the csv file for importing college scorecard data
url = 'https://ed-public-download.app.cloud.gov/downloads/Most-Recent-Cohorts-All-Data-Elements.csv'

In [154]:
# url link to the csv file for importing earnings data
url1 = 'https://ed-public-download.app.cloud.gov/downloads/Most-Recent-Cohorts-Treasury-Elements.csv'

In [155]:
# Several values in the columns are represented as PrivacySuppressed: replacing them with NULL
df = pd.read_csv(url, na_values=['PrivacySuppressed'])

C:\Users\harshvardhan\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (6,9,1729,1743) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [156]:
#UNITID can be used as he index since it has a unique value for each school
#We developed a separate table using UNITID, name, city and state since these can only be used to identify school
schools = df[['UNITID', 'INSTNM', 'CITY', 'STABBR']]

In [157]:
schools.head()

   UNITID                               INSTNM        CITY STABBR
0  100654             Alabama A & M University      Normal     AL
1  100663  University of Alabama at Birmingham  Birmingham     AL
2  100690                   Amridge University  Montgomery     AL
3  100706  University of Alabama in Huntsville  Huntsville     AL
4  100724             Alabama State University  Montgomery     AL

In [158]:
#Deleting the columns that cant be used for model development: Zip, lat, long, opeid, opeid6, accreditor, school_url, price-calculator_url, repayment_date.median
#separation_date.median, alias, accreditor_code, title_iv.approval_date
other_columns = ['INSTNM', 'CITY','STABBR','OPEID', 'OPEID6', 'ZIP','ACCREDAGENCY','LATITUDE', 'LONGITUDE', 'INSTURL','NPCURL','REPAY_DT_MDN','SEPAR_DT_MDN','ACCREDCODE','T4APPROVALDATE']

In [159]:
df.drop(other_columns, axis = 1, inplace =True)

In [160]:
df.shape

(7593, 1790)

In [161]:
df.head()

,UNITID,SCH_DEG,HCM2,MAIN,NUMBRANCH,PREDDEG,HIGHDEG,CONTROL,ST_FIPS,REGION,...,OMENRYP8_FTNFT,OMENRAP8_FTNFT,OMENRUP8_FTNFT,OMACHT6_PTNFT,OMAWDP6_PTNFT,OMACHT8_PTNFT,OMAWDP8_PTNFT,OMENRYP8_PTNFT,OMENRAP8_PTNFT,OMENRUP8_PTNFT
0,100654,3.0,0,1,1,3,4,1,1,5,...,0.0000,0.1727,0.3909,16.0,0.3125,16.0,0.3125,0.0000,0.0000,0.6875
1,100663,3.0,0,1,1,3,4,1,1,5,...,0.0102,0.2187,0.1385,248.0,0.3589,248.0,0.4032,0.0444,0.2500,0.3024
2,100690,3.0,0,1,1,3,4,2,1,5,...,0.0125,0.4375,0.0000,36.0,0.5000,36.0,0.5278,0.0278,0.4444,0.0000
3,100706,3.0,0,1,1,3,4,1,1,5,...,0.0124,0.3209,0.1242,131.0,0.3588,131.0,0.3664,0.0382,0.4351,0.1603
4,100724,3.0,0,1,1,3,4,1,1,5,...,0.0000,0.3672,0.1977,36.0,0.2778,36.0,0.3056,0.0278,0.5833,0.0833

In [162]:
# getting earnings data from the csv file Most-Recent-Cohorts-Treasury-Elements.csv
df_earnings = pd.read_csv(url1)

In [163]:
df_earnings.head()

,UNITID,OPEID,OPEID6,INSTNM,COUNT_ED,AGEGE24,PCT_WHITE,PCT_BLACK,PCT_ASIAN,PCT_HISPANIC,...,PCT25_EARN_WNE_P8,PCT75_EARN_WNE_P8,PCT90_EARN_WNE_P8,SD_EARN_WNE_P8,GT_25K_P8,COUNT_NWNE_P9,COUNT_WNE_P9,MN_EARN_WNE_P9,SD_EARN_WNE_P9,GT_25K_P9
0,100654,100200,1002,Alabama A & M University,NaN,0.07999999821186,46.8400001525878,47.9799995422363,1.48000001907348,3.78999996185302,...,15100,38700,60700,21500,0.544,215,1480,33800,27500,0.58783781528472
1,100663,105200,1052,University of Alabama at Birmingham,NaN,0.25999999046325,69.0199966430664,27.7600002288818,1.10000002384185,2.02999997138977,...,23300,52600,74700,36700,0.722,347,2592,44500,38600,0.73726850748062
2,100690,2503400,25034,Amridge University,NaN,0.82999998331069,70.8799972534179,22.5300006866455,1.28999996185302,6.94000005722046,...,18400,52200,78700,30500,0.668,41,174,42400,30500,0.7356321811676
3,100706,105500,1055,University of Alabama in Huntsville,NaN,0.28999999165534,76.3799972534179,18.9799995422363,1.41999995708465,2.54999995231628,...,23300,62100,80700,27600,0.73,152,1106,50200,37700,0.78119349479675
4,100724,100500,1005,Alabama State University,NaN,0.10999999940395,42.6899986267089,52.3199996948242,1.40999996662139,4.09000015258789,...,13800,35700,48400,17300,0.468,297,1810,29400,20000,0.52983427047729

In [164]:
# separating UNITID and MEDIAN_HH_INC, since MEDIAN_HH_INC will be predicted using other variables and UNITID will be used as index
# also separating OPEID and OPEID 6 since they have been already dropped from the main table
df_earnings.drop(['UNITID','OPEID','OPEID6','INSTNM','MEDIAN_HH_INC'], axis=1, inplace=True)

In [165]:
#The main file consists of all the fields so removing earnings columns from the main data except MEDIAN_HH_INC
df.drop(df_earnings.columns, axis=1, inplace = True)

In [166]:
df.shape

(7593, 1706)

In [167]:
# checking head of the data
df.head()

,UNITID,SCH_DEG,HCM2,MAIN,NUMBRANCH,PREDDEG,HIGHDEG,CONTROL,ST_FIPS,REGION,...,OMENRYP8_FTNFT,OMENRAP8_FTNFT,OMENRUP8_FTNFT,OMACHT6_PTNFT,OMAWDP6_PTNFT,OMACHT8_PTNFT,OMAWDP8_PTNFT,OMENRYP8_PTNFT,OMENRAP8_PTNFT,OMENRUP8_PTNFT
0,100654,3.0,0,1,1,3,4,1,1,5,...,0.0000,0.1727,0.3909,16.0,0.3125,16.0,0.3125,0.0000,0.0000,0.6875
1,100663,3.0,0,1,1,3,4,1,1,5,...,0.0102,0.2187,0.1385,248.0,0.3589,248.0,0.4032,0.0444,0.2500,0.3024
2,100690,3.0,0,1,1,3,4,2,1,5,...,0.0125,0.4375,0.0000,36.0,0.5000,36.0,0.5278,0.0278,0.4444,0.0000
3,100706,3.0,0,1,1,3,4,1,1,5,...,0.0124,0.3209,0.1242,131.0,0.3588,131.0,0.3664,0.0382,0.4351,0.1603
4,100724,3.0,0,1,1,3,4,1,1,5,...,0.0000,0.3672,0.1977,36.0,0.2778,36.0,0.3056,0.0278,0.5833,0.0833

In [65]:
# visually inspecting the data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7593 entries, 0 to 7592
Columns: 1706 entries, UNITID to OMENRUP8_PTNFT
dtypes: float64(1694), int64(11), object(1)
memory usage: 98.8+ MB

In [66]:
df.describe()

,UNITID,SCH_DEG,HCM2,MAIN,NUMBRANCH,PREDDEG,HIGHDEG,CONTROL,ST_FIPS,REGION,...,OMENRYP8_FTNFT,OMENRAP8_FTNFT,OMENRUP8_FTNFT,OMACHT6_PTNFT,OMAWDP6_PTNFT,OMACHT8_PTNFT,OMAWDP8_PTNFT,OMENRYP8_PTNFT,OMENRAP8_PTNFT,OMENRUP8_PTNFT
count,7.593000e+03,7286.00000,7593.000000,7593.000000,7593.000000,7593.000000,7593.000000,7593.000000,7593.000000,7593.000000,...,3671.000000,3671.000000,3671.000000,3955.000000,2948.000000,3955.000000,2947.000000,2947.000000,2947.000000,2947.000000
mean,1.765726e+06,1.89720,0.009219,0.738312,7.185566,1.810088,2.202292,2.192282,29.079020,4.613723,...,0.008412,0.169805,0.260487,158.747914,0.368262,158.705689,0.386980,0.016495,0.207125,0.389400
std,6.771661e+06,0.87879,0.095578,0.439583,21.184166,1.031903,1.318152,0.835941,16.679116,2.167087,...,0.035949,0.175972,0.206629,701.589333,0.234315,701.556552,0.235768,0.054862,0.209142,0.251564
min,1.006540e+05,1.00000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,1.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.752630e+05,1.00000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,13.000000,3.000000,...,0.000000,0.002650,0.102150,0.000000,0.203250,0.000000,0.222200,0.000000,0.000000,0.210600
50%,2.318730e+05,2.00000,0.000000,1.000000,1.000000,2.000000,2.000000,2.000000,29.000000,5.000000,...,0.000000,0.132500,0.214300,24.000000,0.346800,24.000000,0.369600,0.000000,0.176500,0.345000
75%,4.496120e+05,3.00000,0.000000,1.000000,3.000000,3.000000,4.000000,3.000000,42.000000,6.000000,...,0.008300,0.265400,0.375000,116.000000,0.500350,115.500000,0.528100,0.016700,0.332200,0.521700
max,4.862110e+07,3.00000,1.000000,1.000000,135.000000,4.000000,4.000000,3.000000,78.000000,9.000000,...,0.940300,1.000000,1.000000,33078.000000,1.000000,33078.000000,1.000000,1.000000,1.000000,1.000000

In [172]:
df.set_index('UNITID', inplace=True)

In [173]:
df.head()

,SCH_DEG,HCM2,MAIN,NUMBRANCH,PREDDEG,HIGHDEG,CONTROL,ST_FIPS,REGION,LOCALE,...,OMENRYP8_FTNFT,OMENRAP8_FTNFT,OMENRUP8_FTNFT,OMACHT6_PTNFT,OMAWDP6_PTNFT,OMACHT8_PTNFT,OMAWDP8_PTNFT,OMENRYP8_PTNFT,OMENRAP8_PTNFT,OMENRUP8_PTNFT
UNITID,,,,,,,,,,,,,,,,,,,,,
100654,3.0,0,1,1,3,4,1,1,5,12.0,...,0.0000,0.1727,0.3909,16.0,0.3125,16.0,0.3125,0.0000,0.0000,0.6875
100663,3.0,0,1,1,3,4,1,1,5,12.0,...,0.0102,0.2187,0.1385,248.0,0.3589,248.0,0.4032,0.0444,0.2500,0.3024
100690,3.0,0,1,1,3,4,2,1,5,12.0,...,0.0125,0.4375,0.0000,36.0,0.5000,36.0,0.5278,0.0278,0.4444,0.0000
100706,3.0,0,1,1,3,4,1,1,5,12.0,...,0.0124,0.3209,0.1242,131.0,0.3588,131.0,0.3664,0.0382,0.4351,0.1603
100724,3.0,0,1,1,3,4,1,1,5,12.0,...,0.0000,0.3672,0.1977,36.0,0.2778,36.0,0.3056,0.0278,0.5833,0.0833

In [174]:
#checking for columns with less than 40 percent of null data
columns = df.isnull().sum()/df.shape[0]*100 < 40

In [175]:
df1 = df.loc[:,columns]

In [176]:
df1.head()

,SCH_DEG,HCM2,MAIN,NUMBRANCH,PREDDEG,HIGHDEG,CONTROL,ST_FIPS,REGION,LOCALE,...,MALE_RPY_3YR_RT_SUPP,FIRSTGEN_RPY_3YR_RT_SUPP,NOTFIRSTGEN_RPY_3YR_RT_SUPP,ICLEVEL,UGDS_MEN,UGDS_WOMEN,CDR3_DENOM,CDR2_DENOM,D_PCTPELL_PCTFLOAN,OPENADMP
UNITID,,,,,,,,,,,,,,,,,,,,,
100654,3.0,0,1,1,3,4,1,1,5,12.0,...,0.245985,0.237633,0.251324,1,0.4617,0.5383,1812.0,1574.0,4210.0,2.0
100663,3.0,0,1,1,3,4,1,1,5,12.0,...,0.541336,0.511099,0.525161,1,0.4116,0.5884,4159.0,3481.0,11679.0,2.0
100690,3.0,0,1,1,3,4,2,1,5,12.0,...,0.306250,0.224880,0.240909,1,0.4286,0.5714,380.0,336.0,279.0,1.0
100706,3.0,0,1,1,3,4,1,1,5,12.0,...,0.594189,0.515263,0.566970,1,0.5740,0.4260,1464.0,1392.0,5618.0,2.0
100724,3.0,0,1,1,3,4,1,1,5,12.0,...,0.175749,0.191638,0.199895,1,0.3850,0.6150,2196.0,1961.0,4805.0,2.0

In [100]:
import numpy as np

In [177]:
#checking for nan values
np.where(np.isnan(df1))

(array([   2,    2,    2, ..., 7592, 7592, 7592], dtype=int64),
 array([289, 291, 292, ..., 594, 595, 596], dtype=int64))

In [178]:
#filling the null data with mean
df1.fillna(df1.mean(), inplace=True).head()

C:\Users\harshvardhan\Anaconda3\lib\site-packages\pandas\core\generic.py:3660: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

,SCH_DEG,HCM2,MAIN,NUMBRANCH,PREDDEG,HIGHDEG,CONTROL,ST_FIPS,REGION,LOCALE,...,MALE_RPY_3YR_RT_SUPP,FIRSTGEN_RPY_3YR_RT_SUPP,NOTFIRSTGEN_RPY_3YR_RT_SUPP,ICLEVEL,UGDS_MEN,UGDS_WOMEN,CDR3_DENOM,CDR2_DENOM,D_PCTPELL_PCTFLOAN,OPENADMP
UNITID,,,,,,,,,,,,,,,,,,,,,
100654,3.0,0,1,1,3,4,1,1,5,12.0,...,0.245985,0.237633,0.251324,1,0.4617,0.5383,1812.0,1574.0,4210.0,2.0
100663,3.0,0,1,1,3,4,1,1,5,12.0,...,0.541336,0.511099,0.525161,1,0.4116,0.5884,4159.0,3481.0,11679.0,2.0
100690,3.0,0,1,1,3,4,2,1,5,12.0,...,0.306250,0.224880,0.240909,1,0.4286,0.5714,380.0,336.0,279.0,1.0
100706,3.0,0,1,1,3,4,1,1,5,12.0,...,0.594189,0.515263,0.566970,1,0.5740,0.4260,1464.0,1392.0,5618.0,2.0
100724,3.0,0,1,1,3,4,1,1,5,12.0,...,0.175749,0.191638,0.199895,1,0.3850,0.6150,2196.0,1961.0,4805.0,2.0

In [179]:
from sklearn.feature_selection import SelectFromModel

In [180]:
y = df1['MEDIAN_HH_INC']

In [181]:
X = df1.drop('MEDIAN_HH_INC', axis=1)

In [183]:
clf = SelectFromModel.fit(X,y)

AttributeError: 'DataFrame' object has no attribute 'prefit'